* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	width: 600px;
	margin: 0 auto;
	font-family: Roboto, 'Helvetica CY', Verdana, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #202020;
	line-height: 24px;
	border: 1px solid #212121;
	padding: 40px 30px;
}

h1 {
	font-weight: bold;
	font-size: 28px;
	color: #212121;
}

li {
	list-style: none;
}

p {
	margin-bottom: 40px;
}